# BetterAuth
BETTER_AUTH_URL=http://localhost:3000

# Resend email service
RESEND_FROM_EMAIL="hello@impulselab.ai"

# SQL Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5557/postgres"

# Dev flags
NEXT_PUBLIC_REACT_QUERY_DEVTOOLS=true
NEXT_PUBLIC_REACT_SCAN_DEVTOOLS=false

NODE_ENV="development"